* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 30px;
  background-color: #212121;
  border-radius: 15px;
  width: fit-content;
  padding: 15px;
  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: 500ms;
  border-radius: 15px;
}

.field:hover {
  background-color: #fafafa44;
}

.value {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 20px;
  color: rgb(0, 250, 0);
  text-shadow: 2px 2px 4px white;
}

.label {
  font-family: 'Press Start 2P';
  font-size: 24px;
  color: rgb(0, 250, 0);
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
